.loader-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(#FFF, #CCC);
    opacity: 0.8;
    transition: opacity 500ms;
    z-index: 999;
}

.loader-container.all-loaded {
    opacity: 0;
    pointer-events: none;
}

.loader {
    position: relative;
    display: flex;
    width: 25%;
    height: 20px;
    margin-top: 5px;
    padding: 3px;
    background: #EFEFEF;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,.25);
}

.loader .progress-bar {
    position: relative;
    width: 0;
    height: 100%;
    background-color: #3498db;
    background-image: linear-gradient(to top,var(--color-highlight-dark), var(--color-highlight));
    border-radius: 7px;
    transform-origin: top left;
    transition: width .2s ease;
}

.loader .loaded-label {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 10px;
    font-weight: bold;
    line-height: 14px;
    text-align: center;
}