@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-text: #272733;
    --color-primary: #03A9F4;
    --color-primary-dark: #0288D1;
    --color-primary-light: #4FC3F7;
    --color-secondary: #f44f03;
    --color-secondary-dark: #d94100;
    --color-secondary-light: #ff6f36;
    --color-light-gray: #CCC;
    --color-lighter-gray: #EFEFEF;
    --controller-height: 36px;
}

body {
    font-family: Quicksand, sans-serif;
    color: var(--color-text);
}